
*~
__pycache__
.DS_Store

/.idea/
/.idea_save/
/dist/
/gam.egg-info/
/gam/gam.egg-info/

/GateBenchmarks/
/GateTools/
/old/
/tests/
/gate-experimental/
/venv/

/build

/docs/build
/docs/rtd_dark-20200527-1037.zip
/docs/source/developer_guide.md.save
/docs/source/gate_logo.png
/docs/source/faq.rst.temp
/docs/css/
/docs/source/user_guide.md.save

/contrib/output
/contrib/*.mhd
/contrib/*.raw
/contrib/dataset1

/.pycrunch-config.yaml

gam_gate.egg-info/

/gam_tests/log/*log
/gam_tests/output/*txt
/gam_tests/output/*raw
/gam_tests/output/*mhd
/gam_tests/output/*png
/gam_tests/output/*root

