
*~
__pycache__
.DS_Store
*.jpeg

/.idea/
/.idea_save/
/dist/
/gam.egg-info/
/gam/gam.egg-info/

/GateBenchmarks/
/GateTools/
/old/
/tests/
/gate-experimental/
/venv/

/build

/docs/build
/docs/rtd_dark-20200527-1037.zip
/docs/source/developer_guide.md.save
/docs/source/gate_logo.png
/docs/source/faq.rst.temp
/docs/css/
/docs/source/user_guide.md.save
/docs/save/

/contrib/output
/contrib/*.mhd
/contrib/*.raw
/contrib/dataset1
/contrib/save*

/.pycrunch-config.yaml

/gam_gate.egg-info/

/gam_tests/src/preload.sh
/gam_tests/log/*log
/gam_tests/output/*
/gam_tests/src/save
/gam_tests/src/a.txt
/gam_tests/src/b.txt
/gam_tests/src/*.root
/gam_tests/src/*.png
/gam_tests/src/stat.txt

/cmake-build-debug
/cmake-build-release
/cmake-build*
/geant4.egg-info
/gam_g4.egg-info
/save
/save_sync
/save/pyPhysicsLists.save.cpp

/gam_gate/source/beta_plus_spectra/*/*trans*.bs
/gam_gate/source/beta_plus_spectra/*zip

/geant4-multithreading-build-linux/
/geant4-multithreading-build/
/geant4-multithreading/
/geant4.10.06-debug
/geant4.11.0.0_osx
/geant4.11.0.0_linux
/geant4

/gam_g4/__pycache__
/gam_g4/geant4_data/
/gam_g4/*.so
/gam_g4/g4_bindings/__pycache__
/gam_g4/gam_lib/__pycache__
/gam_g4/gam_lib/GamDoseActor_save_random_hit_cpp
/gam_g4/gam_lib/termcolor.hpp
/gam_g4.egg-info.save
/gam_g4/geant4_data_save
/gam_g4/.idea
/gam_g4/build
/gam_g4/gam_g4.egg-info
/gam_g4/gam_g4/*so
/gam_g4/gam_g4/geant4_data
/gam_g4/gam_g4/geant4_data_old
/gam_g4/gam_g4/save

/build_test/

/setup_test.py

/config.json
/config.linux.json
/config.osx.json
/make-linux.sh
/make-osx.sh
/gate-experimental-g4-v11

