*~
__pycache__
.DS_Store
*.jpeg
*.save

/.idea/
.idea
/.idea_save/
/dist/
/gam.egg-info/
/gam/gam.egg-info/

/GateBenchmarks/
/GateTools/
/old/
/gate-experimental/
/venv/

/build

/docs/build
/docs/rtd_dark-20200527-1037.zip
/docs/source/developer_guide.md.save
/docs/source/gate_logo.png
/docs/source/faq.rst.temp
/docs/source/figures/image_coord_system.save.pptx
/docs/source/figures/wtfs_per_minute.png
/docs/css/
/docs/source/user_guide.md.save
/docs/save/
/docs/.obsidian

/opengate/contrib/output
/opengate/contrib/*.mhd
/opengate/contrib/*.raw
/opengate/contrib/dataset1
/opengate/contrib/save*
/opengate/contrib/run.*

/opengate_temporaire

/.pycrunch-config.yaml

/opengate.egg-info/

/opengate/tests/src/preload.sh
/opengate/tests/log/*log
/opengate/tests/log/*tmp
/opengate/tests/src/temp/
/opengate/tests/output/*mhd
/opengate/tests/output/*raw
/opengate/tests/output/*png
/opengate/tests/output/*root
/opengate/tests/output/*txt
/opengate/tests/output/*json
/opengate/tests/output/*npy
/opengate/tests/output/28_ref
/opengate/tests/output/*.npy
/opengate/tests/output/*test*
/opengate/tests/output/*.pdf
/opengate/tests/output/output*
/opengate/tests/src/save
/opengate/tests/src/a.txt
/opengate/tests/src/b.txt
/opengate/tests/src/*.root
/opengate/tests/src/*.png
/opengate/tests/src/*.npy
/opengate/tests/src/stat.txt
/opengate/tests/src/massif*
/opengate/tests/data.save
/opengate/tests/src/training_datasets
/opengate/tests/src/output.pdf
/opengate/tests/output_save
/opengate/tests/src/garf
/opengate/tests/src/temp_output
/opengate/tests/src/test_visu
/opengate/tests/src/intevo
/opengate/tests/src/*.vrml
/opengate/tests/src/*.wrl
/opengate/tests/src/temp
/opengate/tests/src/pb212

/cmake-build-debug
/cmake-build-release
/cmake-build*
/geant4.egg-info
/opengate_core.egg-info
/save
/save_sync
/save/pyPhysicsLists.save.cpp

/opengate/source/beta_plus_spectra/*/*trans*.bs
/opengate/source/beta_plus_spectra/*zip

/geant4-multithreading-build-linux/
/geant4-multithreading-build/
/geant4-multithreading/
/geant4.10.06-debug
/geant4.11.0.0_osx
/geant4.11.0.0_linux
/geant4

/core/__pycache__
/core/geant4_data/
/core/*.so
/core/g4_bindings/__pycache__
/core/opengate_lib/__pycache__
/core/opengate_lib/GateDoseActor_save_random_hit_cpp
/core/opengate_lib/termcolor.hpp
/core.egg-info.save
/core/geant4_data_save
/core/.idea
/core/build
/core/opengate_core.egg-info
/core/opengate_core/*so
/core/opengate_core/geant4_data
/core/opengate_core/geant4_data_old
/core/opengate_core/geant4_data_11.02
/core/opengate_core/save
/core/opengate_core/.idea
/core/opengate_core/opengate_lib/.idea
/core/save


/build_test/

/setup_test.py

/core/config*json
/core/make*.sh
/gate-experimental-g4-v11

make_wheel.sh
preload.sh

/compile_commands.json
/.cache/

opengate/tests/src/log_G4_11.0.txt
opengate/tests/fake.md
.vscode/c_cpp_properties.json
.vscode/settings.json
.kdev4/
opengate.kdev4
opengate/tests/singles.root
singles.root
opengate/tests/src/geant4_out.txt
failing_tests.txt
