repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
    -   id: clang-format
ci:
    autofix_commit_msg: |
        [pre-commit.ci] Automatic python and c++ formatting
    autofix_prs: true
    submodules: false
