repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.4
    hooks:
    -   id: clang-format
ci:
    autofix_commit_msg: |
        [pre-commit.ci] Automatic python and c++ formatting
    autofix_prs: true
    submodules: false
