global-include *.mac
global-include *.md
global-include *.bs
recursive-include contrib *
recursive-include tests/src/gate/gate_test* *
recursive-include tests/output_ref *
recursive-include tests/data *
include VERSION
