global-include *.mac
global-include *.md
recursive-include contrib *
recursive-include gam_tests/src/gate/gate_test* *
recursive-include gam_tests/output_ref *
recursive-include gam_tests/data *
recursive-exclude gam_tests/data/gate *
recursive-exclude gam_tests/data/output_ref *
