global-include *.mac
global-include *.md
global-include *.bs
recursive-include opengate/contrib *
recursive-include opengate/tests/src/gate/gate_test* *
recursive-include opengate/tests/output_ref *
recursive-include opengate/data *.txt
recursive-include opengate/data *.xml
include opengate/tests/HEAD
include VERSION
