sphinx
sphinx_pdj_theme
autoapi
sphinx-autoapi
sphinx_copybutton
pydata-sphinx-theme
python-box
colored
gatetools
click
python-box
anytree
numpy
itk
uproot
scipy
matplotlib
GitPython
colorlog
meshio
radioactivedecay>=0.6.1
jsonpickle
pandas
requests
PyYAML
SimpleITK
icrp107_database
loguru

requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
